
.img{
    height: auto;
    width: 400px;
    background-image: red;
    border: 2px outset gray;
    padding: 10px;

}
.container-xl{ margin-top: 50px;}
.btn-success{
   margin-left: 30%;
}
.title{
    text-align: center;
    font-size: 35px;
    color: blue;
    font-family:verdana;

}
.category, .description{
    
    font-size: 15px;
}
.price{
    font-size: 20px;

}
.row{
    background-color: lightblue;
}


.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }