
.img{
    height: auto;
    width: 400px;
    background-image: red;
    border: 2px outset gray;
    padding: 10px;

}
.container-xl{ margin-top: 50px;}
.btn-success{
   margin-left: 50%;
}
.title{
    text-align: center;
    font-size: 35px;
    color: blue;
    font-family:verdana;

}
.category, .description{
    
    font-size: 15px;
}
.price{
    font-size: 20px;

}